# Neovim / Lua
*.swp
*.swo
*backup*
*bak
tags
tags.temp
netrw.vim

# Plugin managers
lazy-lock.json
packer_compiled.lua
site/pack/packer/

# Compiled Lua cache
.lua/
luac.out

# OS
.DS_Store
Thumbs.db
